@{
    Layout = "~/Views/Shared/_ReserveLayout.cshtml";
    ViewData["Title"] = "ReservePage";
}

<h1 style="position: absolute; top: 170px; left: 20%; font-size: 44px; font-weight: 700">
    <font color="white">Извините, таких мет нет, попробуйте снова</font>
</h1>