@{
    ViewData["Title"] = "Home Page";
}

<h1 style="position: absolute; top: 180px; left: 45%; font-weight: 700">Контакты</h1>

<div style="position:absolute; top: 340px; left:20%">
    <h3>Минск, ул. Казинца, 120</h3>
    <h3>+375 29 873 28 39</h3>
    <ul>
        <li>
            Понедельник-Пятница:
            <br>Завтраки: 8:00 - 11:30
            <br>Обеды: 12:00-16:00
            <br>Полдники: 16:00-18:00
            <br>Ужины: 18:00-20:00
        </li>
        <li>Суббота, Воскресенье - выходной</li>
    </ul>
</div>

<div style="position:relative;overflow:hidden;top:250px;left:55%;height:300px;width:500px">
    <a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a>
    <a href="https://yandex.by/maps/157/minsk/?ll=27.507217%2C53.842929&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=27.503687%2C53.842098&whatshere%5Bzoom%5D=16&z=16" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Казинца, 120 — Яндекс Карты</a>
    <iframe src="https://yandex.by/map-widget/v1/?ll=27.507217%2C53.842929&mode=whatshere&whatshere%5Bpoint%5D=27.503687%2C53.842098&whatshere%5Bzoom%5D=16&z=16" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
</div>

