@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<h1 style="position: absolute; top: 240px; left: 180px">
    <font color="white">Добро пожаловать в <font color="yellow">ILuxury</font></font>
</h1>
<h2 style ="position: absolute; top: 350px; left: 180px">
    <font color="white">Быстрая <font color="yellow">доставка</font></font>
</h2>
<h2 style="position: absolute; top: 390px; left: 180px">
    <font color="white">приятная <font color="yellow">атмосфера</font></font>
</h2>
<h2 style="position: absolute; top: 430px; left: 180px">
    <font color="white">вкусные <font color="yellow">блюда</font></font>
</h2>

<button type="button" class="btn btn-warning btn-lg" style="position: absolute; top: 520px; left: 180px">Наше меню</button>
