<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Restaurant.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <style>
        body {
            background: url(https://psv4.userapi.com/c235031/u181795136/docs/d24/b435afcc0906/920c5db5d441180cb00cfcb9cd10ebe2-quality_80Xresize_crop_1Xallow_enlarge_0Xw_780Xh_478.jpg?extra=H8N4EykzIQrfLL_XZW4YOmShYJhxDOmMR-NJuRfPER88EwEAPjEgRMO8lGva4tFJht8MiTwOBdymG5xwKrKHcVnjuvUwwwryeOiPtEbX2k_kPGgqBBHu4WykC7nJfrnyVkR61EBQ26TwRBuf2KIGWRw3) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3 ms-auto">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ILuxury</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Menu" asp-action="ViewMenu"><font size="4px">Меню</font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About"><font size="4px">Контакты</font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="Reserve"><font size="4px">Забронировать</font></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" data-bs-toggle="modal" href="#exampleModal"><font size="4px">Корзина</font></a>
                        </li>
                    </ul>
                    <a href="https://vk.com/i.dobrinsky" class="fa fa-vk" style="font-size: 20px"></a>
                    <span>
                        <font color="white" ; size="4px">+375 (29) 873-28-39 (Казинца, 120)</font>
                    </span>
                </div>
            </div>
        </nav>
        @await Html.PartialAsync("~/Views/Basket/Index.cshtml", new BasketViewModel())
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>
