@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
    ViewData["Titile"] = "MenuIsEmptyPage";
}

<div style="background-color: whitesmoke; position:absolute;top: 50px;left: 0;width: 100%; height:200px;">
    <h1 style="position:absolute;top:60px;left:45%"><font size="44px">Меню</font></h1>
</div>

@*Не знаю как это сделать, пусть будет так*@
<br><br><br><br><br><br><br><br><br><br>

<h1 align="center">Извините, в данный момент меню пусто</h1>